.heading{
    display: block;
   text-align: center;
   background-color:aquamarine ;
}
.container{
    height: 31em;
    background-color: aqua;
    overflow-y: auto;
    margin-bottom: 33px;
}
#editorbubble{
    background-color: aqua;
    height: 40em;
}
.footernav{
    background-color: rgb(93, 90, 90);
    border: 1px solid white;
    border-radius: 1rem;
}
.footerbody{
    background-color:rgb(54, 52, 52);
    border: 1px solid white;

}
.footerbottom{
    background-color: rgb(93, 90, 90);
    display: flex;
    justify-content: space-between;
    border: 1px solid white;

}
.inputtext{
    width:112em;
    height: 2em;
    background-color: rgb(241, 205, 205);
    border: 1px solid white;
    font-family: sans-serif;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.strikethrough{
    font-weight: bold;
}
.footnavelements{
  display: flex;
  margin-right: 1em;
  
  
}
.footbottomelements{
   
    border-bottom: 1rem;
    display: flex;
}
.button{
    
    background-color: rgb(53, 208, 53);
    height: 2em;
    width: 6em;
    border-radius: 4rem;
    
}
li{
    color: rgb(212, 228, 241);
    list-style-type: none;
    margin-left: 1em;
}
.message {
    float: right;
    clear: both;
    font-size: 22px;
    background-color: rgb(205, 251, 253);
    width: 24%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    margin: 10px;
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
img{
     max-width:1em;
     max-height: 1em;
}
.click{
    background-color: aliceblue;
}